<a href="https://colab.research.google.com/github/Ruhan-Saad-Dave/My-Projects/blob/main/Pandas_notes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction

This notebook contain some usefull concepts in Pandas which will help for later reference and also for practice purpose.

# The Lab

In [1]:
import pandas as pd

# The notes

In [ ]:
import pandas as pd

## DataFrames and series

In [2]:
#Creating a dataframe
df = pd.DataFrame({
    "Name" : ["Mr.A", "Mr.B", "Mr.C" ],
    "Age" : [22, 35, 58],
    "Gender" : ["male", "male", "female"],
})
df

   Name  Age  Gender
0  Mr.A   22    male
1  Mr.B   35    male
2  Mr.C   58  female

In [3]:
#Each column of a DataFrame is a Series
df["Age"]

0    22
1    35
2    58
Name: Age, dtype: int64

In [4]:
#Creating a Series
ages = pd.Series([22, 35, 58], name = "Age")
ages

0    22
1    35
2    58
Name: Age, dtype: int64

We can also apply some functions to the DataFrame and Series

In [5]:
df["Age"].max()

58

In [6]:
ages.max()

58

To get the basic statstics of the numerical data, note that it wont show the columns which doesn't have numerical values.

In [7]:
df.describe()

             Age
count   3.000000
mean   38.333333
std    18.230012
min    22.000000
25%    28.500000
50%    35.000000
75%    46.500000
max    58.000000

## Read and write tabular data

In [8]:
titanic = pd.read_csv("train.csv")
titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [9]:
#To see 1st 8 rows
titanic.head(8)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S

In [11]:
#To see last 8 rows
titanic.tail(8)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.500,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.050,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.125,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.450,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.750,NaN,Q

In [12]:
#To check the column data types
titanic.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

Excel

In [13]:
#To write into excel file
titanic.to_excel("titanic.xlsx", sheet_name = "passengers", index = False)  #index=False will not save row index labels in the spreadsheet

#To read excel file
titanic = pd.read_excel("titanic.xlsx", sheet_name = "passengers")
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [14]:
#To get the technical summary of the DataFrame
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

We use pd.read_* to read a file, pd.to_* to write a file.

## Selecting the subset of the DataFrame

To see only 1 column

In [15]:
ages = titanic["Age"]
ages.head()

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
Name: Age, dtype: float64

In [16]:
titanic["Age"].shape  #Nrows, Ncolumns

(891,)

To see multiple columns

In [17]:
age_sex = titanic[["Age", "Sex"]]
age_sex.head()

    Age     Sex
0  22.0    male
1  38.0  female
2  26.0  female
3  35.0  female
4  35.0    male

In [18]:
age_sex.shape

(891, 2)

To filter specific rows

In [19]:
above_35 = titanic[titanic["Age"] > 35]
above_35.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S

In [21]:
titanic["Age"] > 35

0      False
1       True
2      False
3      False
4      False
       ...
886    False
887    False
888    False
889    False
890    False
Name: Age, Length: 891, dtype: bool

To check for rows with specific values

In [22]:
class_23 = titanic[titanic["Pclass"].isin([2, 3])]
class_23.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S

To check for multiple conditions

In [24]:
class_23 = titanic[(titanic["Pclass"] == 2) | (titanic["Pclass"] == 3)]
class_23.head()

# or = |, and = &, cannot use or/and when selecting the columns

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S

To show rows of column with known (Not empty) values

In [23]:
age_no_na = titanic[titanic["Age"].notna()]
age_no_na.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

To select specific rows and column

In [26]:
#Selecting by the row label and column name
adult_names = titanic.loc[titanic["Age"] > 35, ["Name", "Age", "Sex"]]  #Rows, Columns
adult_names.head()

                                                 Name   Age     Sex
1   Cumings, Mrs. John Bradley (Florence Briggs Th...  38.0  female
6                             McCarthy, Mr. Timothy J  54.0    male
11                           Bonnell, Miss. Elizabeth  58.0  female
13                        Andersson, Mr. Anders Johan  39.0    male
15                   Hewlett, Mrs. (Mary D Kingcome)   55.0  female

In [27]:
#Selecting by index
titanic.iloc[9:25, 2:5]

    Pclass                                               Name     Sex
9        2                Nasser, Mrs. Nicholas (Adele Achem)  female
10       3                    Sandstrom, Miss. Marguerite Rut  female
11       1                           Bonnell, Miss. Elizabeth  female
12       3                     Saundercock, Mr. William Henry    male
13       3                        Andersson, Mr. Anders Johan    male
14       3               Vestrom, Miss. Hulda Amanda Adolfina  female
15       2                   Hewlett, Mrs. (Mary D Kingcome)   female
16       3                               Rice, Master. Eugene    male
17       2                       Williams, Mr. Charles Eugene    male
18       3  Vander Planke, Mrs. Julius (Emelia Maria Vande...  female
19       3                            Masselmani, Mrs. Fatima  female
20       2                               Fynney, Mr. Joseph J    male
21       2                              Beesley, Mr. Lawrence    male
22       3                        McGowan, Miss. Anna "Annie"  female
23       1                       Sloper, Mr. William Thompson    male
24       3                      Palsson, Miss. Torborg Danira  female

## Creating plots

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
air_quality = pd.read_csv("data/air_quality_no2.csv", index_col = 0, parse_dates = True)
#index_col=0 defines 1st column(0) as index, parse_dates = True to convert dates in column to timestamp objects
air_quality.head()

In [ ]:
air_quality.plot()
plt.show()

In [ ]:
#To plot only 1 column
air_quality["station_pairs"].plot()
plt.show()

For scatter plot

In [ ]:
air_quality,plot,scatter(x = "station_london", y = "station_pairs", alpha = 0.5)
plt.show()

For box plots

In [ ]:
air_quality.plot.box()
plt.show()

There are many ways to plot:
* area
* bar
* barh
* box
* density
* hexbin
* hist
* kde
* line
* pie
* scatter

To show each column in a separate subplot

In [ ]:
axs = air_quality.plot.area(figsize = (12, 4), subplots = True)
plt.show()

For further customization, extend or saving the resulting plot

In [ ]:
fig, axs = plt.subplots(figsize = (12, 4))
air_quality.plot.area(ax = axs)
axs.set_ylabel("NO$_2$ concentration")
fig.savefig("no2_concentrations.png")
plt.show()

## Creating new columns derived from existing columns

In [ ]:
#Creating a new column
air_quality["london_mg_per_cubic"] = air_quality["station_london"] * 1.882
air_quality.head()

In [ ]:
#To check ratio of 2 columns and save in a new column
air_quality["ratio_paris_antwerp"] = air_quality["station_paris"] / air_quality["station_antwerp"]
air_quality.head()

In [ ]:
#TO rename the columns
air_quality_renamed = air_quality.rename(
    columns = {
        "station_antwerp" : "BETR801",
        "station_paris" : "FR04014",
        "station_london" : "London Westminster",
    }
)
air_quality_renamed.head()

In [ ]:
#Converting column names to lower case
air_quality_renamed = air_quality_renamed.rename(columns = str.lower)
air_quality_renamed.head()

## Calculating summary statistics

Aggregating statistics

In [ ]:
titanic["Age"].mean()

In [ ]:
titanic[["Age", "Fare"]].median()

In [ ]:
titanic[["Age", "Fare"]].describe()

In [ ]:
#Can also apply specific statistics to specific columns
titanic.agg(
    {
        "Age" : ["min, "max", "median", "skew"],
        "Fare" : ["min", "max", "median", "mean"],
    }
)

Aggregating statistics group by category

In [ ]:
titanic[["Sex", "Age"]].groupby("Sex").mean()

In [ ]:
titanic.groupby("Sex").mean(numeric_only = True)  #Shows mean of numeric columns grouped by "Sex"

In [ ]:
#To perfrom function on specific column after grouping
titanic.groupby("Sex")["Age"].mean()

In [ ]:
titanic.groupby(["Sex", "Pclass"])["Fare"].mean()

Count number of records by category

In [ ]:
titanic["Pclass"].value_counts()

In [ ]:
#Alternate method
titanic.groupby("Pclass")["Pclass"].count()

#size includes NaN, count excludes missing values.
#In value_counts, use dropna to exclude NaN

## Reshape the layout of the tables

Sort table rows

In [ ]:
titanic.sort_values(by = "Age").head()  #Sorting by age

In [ ]:
#Sorting by cabin class and age in descending order
titanic.sort_values(by = ["Pclass", "Age"], ascending = False).head()

Long to wide table

In [ ]:
no2 = air_quality[air_quality["parameter"] == "no2"]
no2_subset = no2.sort_index().groupby(["location"]).head(2)  #Usunf 1st 2 measurements of each location while focusing on no2
no2_subset

In [ ]:
#To show values of 3 stations as separate columns next to each other.
no2_subset.pivot(columns = "location", values = "value")

Pivot table

In [ ]:
#To show mean concentration of 2 parameters in each station in table form
air_quality.pivot_tabel(values = "value", index = "location", columns = "parameter", aggfunc = "mean")

#In pivot(), the data is only rearranged.
#In pivot_table(), multiple values can be aggregated

In [ ]:
#When interested in row/column margis (subtotals) for each variable
air_quality.pivot_table(
    values = "value",
    index = "location",
    columns = "parameter",
    aggfunc = "mean",
    margins = True,
)

#Same results from:
air_quality.groupby(["parameter", "location"])[["values"]].mean()

Wide to long format

In [ ]:
#Add new index using reset_index()
no2_pivoted = no2.pivot(columns = "location", values = "value").reset_index()
no2_pivoted.head()

In [ ]:
#To collect all air quality no2 measurements in a single column (long format)
no_2 = no2_pivoted.melt(id_vars = "date.utc")  #Coverts wide format to long format
no_2.head()

In [ ]:
no_2 = no2_pivoted.melt(
    id_vars = "date.utc",
    value_vars = ["BETR801", "FR04014", "London Westminster"],
    var_name = "NO_2",
    value_name = "id_location",
)
no_2.head()

#value_vars defines which columns to melt together
#value_name provides a custom column name for the values column instead of the default column name value
#var_name provides a custom column name for the column collecting the column header names, else takes the index name or a default variable

## Combining data from multiple tables

Concatenating objects

In [ ]:
air_quality = pd.concat([air_quality_pm25, air_quality_no2], axis = 0)
air_quality.head()

#concat() performs concatenation operations of multiple tables along one of the axes (row-wise or column-wise). 0 = row, 1 = column

In [ ]:
air_quality = air_quality.sort_values("date.utc")
air_quality.head()

In [ ]:
air_quality_ = pd.concat([air_quality_pm25, air_quality_no2], keys = ["PM25", "NO2"])
air_quality_.head()